<header>
    <h1>SAVIS</h1>
</header>

<nav>
    <a routerLink="/homepage">Home</a>
    <a routerLink="/about">About</a>
    <a href="https://www.csus.edu/faculty/d/rdiaz/">Download</a>
    <a href="https://www.csus.edu/faculty/d/rdiaz/">User Manual</a>
    <a routerLink="/login">Sign Out</a>
</nav>

<div class="box-container">
    <div class="tool1">Hypothesis Testing</div>
    <div class="box" routerLink="/oneproportion"> One Proportion Hypothesis Testing</div>
    <div class="box" routerLink="/twoproportions">Two Proportion Hypothesis Testing</div>
    <div class="box" routerLink="onemean">One Mean Hypothesis Testing</div>
    <div class="box" routerLink="/twomeans">Two Mean Hypothesis Testing</div>

    <div class="tool2">Visualization</div>
    <div class="box2" routerLink="/LR">Linear Regression Visualization</div>
    <div class="box2" routerLink="/bivariant">Bivariant Visualization</div>
    <div class="box2" routerLink="/correlation">Correlation Visualization</div>

    <div class="tool3">Confidence Interval</div>
    <div class="box3" routerLink="/oneproportionCI">One Proportions Confidence Interval</div>
    <div class="box3" routerLink="/twoproportionsCI">Two Proportions Confidence Interval</div>
    <div class="box3" routerLink="/onemeanCI">One Mean Confidence Interval</div>
    <div class="box3" routerLink="/twomeansCI">Two Mean Confidence Interval</div>
</div>

<footer>
    Copyright ©2019 CSUS. All Rights Reserved.
</footer>
