@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

:host {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(https://www.pbahealth.com/cdn/2021/09/shutterstock_430195417-1.png);
    /* filter: blur(1px); */
    background-position: center 10%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*SAVIS heading*/
header {
    /* background-color: rgb(140, 169, 140); */
    padding: 20px 0;
    text-align: center;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    font-family: 'Chakra Petch', sans-serif;
    color:rgb(30, 70, 70);
    font-size: 140%;
}

nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgba(255,255,255,0.7); */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*home, about, download, user manual, sign out*/
nav a {
    color:black;
    text-decoration: none;
    padding: 5px 20px;
    transition: color 0.3s;
    font-family: 'DM Serif Display', serif;
    font-size: 130%;
}

/*home hover*/
nav a:hover {
    color: #1e6542;
}

.box {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    flex: 1;
    width: 310px;
    border: 5px;
    padding: 15px;
    margin: 18px;
    margin-left: 30px;
    background-color: rgb(52, 144, 110);
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color:beige; 
    text-align: center;
}

.tool1{
    margin-top: 50px;
    color: black;
    text-align:left;
    margin-left: 90px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.box2{
    width: 310px;
    border: 5px;
    padding: 15px;
    margin-left: 450px;
    margin-top: 20px;
    background-color: rgb(52, 144, 110);
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color:beige; 
    text-align: center;
}

.tool2{
    color: black;
    margin-left: 550px;
    font-family: 'Roboto Slab', serif;
    margin-top: -332px;
    font-size: 20px;
}

.box3{
    width: 300px;
    border: 5px;
    padding: 15px;
    margin-left: 860px;
    margin-top: 20px;
    background-color: rgb(52, 144, 110);
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    color:beige;
    text-align: center;
}

.tool3{
    color: black;
    margin-left: 930px;
    font-family: 'Roboto Slab', serif;
    margin-top: -250px;
    font-size: 20px;
}

/*main topics hover*/
.box:hover, .box2:hover, .box3:hover {
    /* Adjusted hover effect to a darker translucent green */
    background-color: rgba(109, 147, 111, 0.7);
}

footer{
    padding-top: 10%;
    text-align: center;
}