<!-- one-proportion.component.html -->
<!-- <div id="one-proportion">
    <p><h1> {{ oneProportion.title }}</h1></p>
    <div class="chart-input-form">
      <div id="control" class="container">
        <form>
          <div class="form-group">
            <label for="probability">
              {{ oneProportion.probHeads }}<i>p</i>: <span id="probDisplay">0.5</span>
            </label>
            <input type="range" min="0" max="1" step="0.01" class="slider" id="probability" />
          </div> -->
          <!-- ... other form inputs ... -->
  
        <!-- </form>
      </div>
      <div id="view">
        <div><canvas id="chart" class="container"></canvas></div>
        <div id="remarks">
          <table>
            <tr>
              <td>{{ oneProportion.remarkTitle }}</td>
              <td>{{ oneProportion.remark1 }}</td>
            </tr>
            <tr>
              <td></td>
              <td>{{ oneProportion.remark2 }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div> -->
  