.outer{
    height: 100vh;
    background-color: #fff2eb;
}

.panel-heading{
    text-align: center;
    margin-bottom: 10px;
    color: #54c242;
}

.title{
    text-align: center;
    padding: 17px;
    color: #54c242;
    
}

.header, .footer {
    background-color: #333;
    height: 100px;
    color: #fff;
    text-align: center;
  }
  .copyright{
    text-align: center;
    color: #54c242;
  }

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

A:hover{
    text-decoration: none;

}

.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    background-color: #54c242;
    

}

.panel{
    box-shadow: 20px 20px 80px rgb(84, 194, 66);
    border-radius: 12px;
    margin-top: 250px;
    
}

.input-field{
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #54c242;
}

.input-field.error{
    border: 1px solid red;
    color: red;

}

input[type='email'],input[type='password'], input[type='text']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}
