.outer {
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77vh;
    background-color: #fff2eb;
}

.panel-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #54c242;
}

.title {
    font-size: 30px;
    text-align: center;
    padding: 1px;
    color: #54c242;
}
.copyright{
 padding: 15px;
}

.header,
.footer {
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 100px;
    color: #fff;
    text-align: center;
}

.copyright {
    text-align: center;
    color: #54c242;
}

#forget {
    padding-top: 30px;
    margin-top: 20px;
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    color: #54c242;
}

A:hover {
    text-decoration: none;
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: 15px;
    background-color: #54c242;
    color: #fff;
    padding: 15px 40px; /* Increased padding for a bigger button */
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Make it a block-level element */
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto;
}

.btn:hover {
    background-color: #388e3c;
}

.panel {
    box-shadow: 20px 0px 90px rgba(84, 194, 66, 0.5);
    border-radius: 12px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
}

.input-field {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #54c242;
    margin-bottom: 5px;
    margin-top: 15px;
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='email'],
input[type='password'],
input[type='text'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: calc(100% - 40px); /* Adjusted width */
    padding: 8px; /* Adjusted padding */
    margin-bottom: 10px;
}
.text-danger {
    color: red;
    
}
